<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AuthJWT_CQRS.Data.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AuthJWT_CQRS.Data.Settings>
            <setting name="RolesAdminUserId" serializeAs="String">
                <value>581d4a5c-dd43-49c0-9e1a-7960bc24de5c</value>
            </setting>
            <setting name="RolesAdminPassword" serializeAs="String">
                <value>12345678</value>
            </setting>
            <setting name="RolesAdminRoleId" serializeAs="String">
                <value>915f3c44-8a59-45ae-8903-aa49a44847e4</value>
            </setting>
            <setting name="RolesSuperuserRoleId" serializeAs="String">
                <value>760e5cdf-fc52-4557-80e2-217a323e61ce</value>
            </setting>
            <setting name="RolesUserRoleId" serializeAs="String">
                <value>80f66454-27e9-4e77-ac71-c8800861c330</value>
            </setting>
            <setting name="RolesViewerRoleId" serializeAs="String">
                <value>f4075620-9a38-48c5-8cef-a677e98dfa9e</value>
            </setting>
            <setting name="RolesGuestRoleId" serializeAs="String">
                <value>f36854dd-aaa8-4e2d-aa88-17e9e6809ebb</value>
            </setting>
            <setting name="RolesProducerRoleId" serializeAs="String">
                <value>df881f83-11a3-4f2c-9171-5cd1a51a29ee</value>
            </setting>
            <setting name="RolesAdmin" serializeAs="String">
                <value>Admin</value>
            </setting>
            <setting name="RolesSuperuser" serializeAs="String">
                <value>Superuser</value>
            </setting>
            <setting name="RolesUser" serializeAs="String">
                <value>User</value>
            </setting>
            <setting name="RolesGuest" serializeAs="String">
                <value>Guest</value>
            </setting>
            <setting name="RolesViewer" serializeAs="String">
                <value>Viewer</value>
            </setting>
            <setting name="RolesProducer" serializeAs="String">
                <value>Producer</value>
            </setting>
            <setting name="JwtSecretKey" serializeAs="String">
                <value>ThisIsASecretKey</value>
            </setting>
            <setting name="AccessTokenExpireTime" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="AdminFirstName" serializeAs="String">
                <value>Fırat</value>
            </setting>
            <setting name="AdminLastName" serializeAs="String">
                <value>Ataş</value>
            </setting>
            <setting name="AdminEmail" serializeAs="String">
                <value>firatatas@gmail.com</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value>User ID =postgres;Password="pg_password";Server=localhost;Port=5432;Database=DbAuthJwtCqrs;Integrated Security=true;Pooling=true;</value>
            </setting>
        </AuthJWT_CQRS.Data.Settings>
    </applicationSettings>
</configuration>